body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #000000;
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.menu ul li img {
    width: 80px;
    vertical-align: middle;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #360892;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #af1789;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
